* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  width: 80vw;
  margin: 0 auto;
}

a {
  color: #333​;
  text-decoration: none;
  background: cyan;
}

.container {
  padding: 0 1rem;
}

.btn {
  flex: 1;
  display: inline-block;
  border: none;
  color: white;
  padding: 7px 20px;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.439);
  outline: none;
}

.btn:hover {
  background: #666​;
}